{% extends 'layout.html' %} {% block content %}
<div class="flex-container">
  <a
    style="
      font-weight: bolder;
      border: 2px solid black;
      border-radius: 25px;
      padding: 4px;
      padding-top: 2px;
      padding-bottom: 2px;
    "
    href="{% url 'manager-categories'%}"
    >חזרה ניהול תפריט</a
  >
</div>
<br />
<div>
  {% for dish in dishes %} {% if category == dish.category_id%}

  <div class="flex-container">
    <div class="col s12 m7">
      <div class="card" style="width: 100vh">
        <div class="card-image">
          <img src="{{dish.image}}" />
        </div>
        <div class="card-content">
          <h3
            class="flex-container"
            style="
              text-align: right;
              text-decoration: underline;
              font-weight: bold;
            "
          >
            {{dish.dish_name}}
          </h3>
          <h4 class="flex-container" style="text-align: right">
            {{dish.description}}
          </h4>
          <br />
          <h5 style="text-align: right">
            מחיר: <span style="font-weight: bold">{{dish.price}}</span> שקלים
          </h5>
          {% if dish.is_gluten_free == True %}
          <h6 style="text-align: right">מנה נטולת גלוטן *</h6>
          {% endif %} {% if dish.is_vegeterian == True %}
          <h6 style="text-align: right">מנה צמחונית *</h6>
          {% endif %}
        </div>

        <div class="card-action flex-container">
          <a href="{% url 'edit-dish' id=dish.id dish_name=dish.dish_name %}">
            <button
              style="width: 100%"
              class="waves-effect waves-light btn"
              type="submit"
            >
              ערוך מנה
            </button>
          </a>
          <form
            action="{% url 'delete-dish' id=dish.id dish_name=dish.dish_name%}"
            method="POST"
          >
            {% csrf_token %}
            <button type="submit" class="btn btn waves-effect waves-light red">
              מחק מנה
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<br />
{% endif%} {% endfor %} {% endblock %}
